body{
    font-family: 'Roboto', Helvetica;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: 400;
}
#tetris{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#ribbon{
    position: fixed;
    top: 0;
    right: 50px;
    margin: 0;
    padding: 0;
    z-index: 999;
    display: none;
}
#game{
    position: absolute;
    top: 0;
    left: 0px;
    bottom: 0;
    right: 0;
    min-height: 500px;
    text-align: center;
}
#rows-container{
    position: absolute;
    top: 30%;
    left: 50%;
    margin: 0 0 0 -25vh;
    text-align: center;
    padding: 0;
    height: 120px;
    width: 50vh;
    z-index: 6;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -webkit-transform: translateZ(0);
    background-color: #fff;
    /* rgba(255,255,255,0.3) */
}
.menu{
    margin: 0 !important;
    top: 0 !important;
    left: 0 !important;
    height: 100vh !important;
    width: 100vw !important;
    z-index: 5 !important;
}
#rows{
    font-weight: 900 !important;
    font-family: 'Lato', sans-serif;
    color: #fff;
    line-height: 120px;
    font-size: 3.4em;
    padding: 0;
    margin: 0;
    -webkit-transform: translateZ(0);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    transition-duration: 1.5s;
    -webkit-transition-duration: 1.5s;
    opacity: 0;
}
.text-small{
    font-size: 2em !important;
}
#pauseBlock{
    position: absolute;
    padding: 0;
    margin: 0 0 0 -25vh;
    left: 50%;
    background-color: #000;
    height: 100vh;
    width: 50vh;
    z-index: 5;
    border: none;
    display: none;
}
#canvas{
    position: absolute;
    padding: 0;
    margin: 0 0 0 -25vh;
    left: 50%;
    background-color: transparent;
    height: 100vh;
    width: 50vh;
    z-index: 3;
    border: none;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}
.rotate{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); /* IE 9 */
    -webkit-transform:rotate(180deg); /* Opera, Chrome, and Safari */
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#color-overlay{
    transition: background-color 0.2s;
    background-color: #000;
    opacity: 1;
    z-index: 1;
}
#menu{
    position: absolute;
    z-index: 999;
    top: 0;
    left: 50%;
    margin: 0 0 0 -25vw;
    width: 50vw;
    height: 100vh;
    background-color: rgba(255,255,255,0.3);
    color: #fff;
    text-align: center;
}
#menu h1{
    font-weight: 900 !important;
    font-size: 5em;
    line-height: 1.4em;
    margin: 50px 0 0 0;
    padding: 0;
}
#toggle-warning{
    font-weight: 300;
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1.4em;
}
#menu ul{
    width: 358px;
    display: block;
    margin: 25px auto;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
#menu ul li{
    width: 350px;
    height: 60px;
    background-color: #fff;
    margin: 10px;
    padding: 0;
    position: relative;
}
#epilepsy-warning{
    position: absolute;
    left: 50%;
    bottom: 8px;
    margin: 0 0 0 -125px;
    padding: 0;
    font-size: 0.8em;
    font-weight: 200;
}
.check{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    height: 60px;
    width: 60px;
    cursor: pointer;
}
.check img{
    margin: 10px;
    padding: 0;
    pointer-events: none;
    height: 40px;
    width: 40px;
}
.settings-text{
    margin: 0;
    padding: 0;
    font-weight: 600;
    line-height: 60px;
    font-size: 1.6em;
}
#upcoming{
    display: block;
    margin: 0 auto;
    background-color: #fff;
    width: 200px;
    height: 200px;
}
#rows{
    font-weight: bold;
    vertical-align: middle;
}
#no-audio{
    margin: 28px auto;
    padding: 0;
    width: 100px;
    height: 100px;
    background-image: url(mute.png);
    background-size: cover;
    cursor: pointer;
}
#stats{
    display: none;
    position: absolute;
    bottom: 0em;
    right: 1em;
}
#game-style{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    z-index: 4;
}
#game-style section{
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #000;
}
.level-fill{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    background-color: #fff;
    margin: 0;
    padding: 0;
    transition: background-color 0.2s, height 0.5s;
}
#left{
    border-right: 4px solid #fff;
    right: 50%;
    left: 0;
    margin: 0 25vh 0 0;
}
#right{
    border-left: 4px solid #fff;
    left: 50%;
    right: 0;
    margin: 0 0 0 25vh;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: rgba(255,255,255,0.3);
    z-index: 999;
}
.header p{
    line-height: 10vh;
    color: #fff;
    font-weight: 900;
    font-size: 2em;
    margin: 0;
    padding: 0;
}
#controls{
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin: 0 0 0 -125px;
    padding: 0;
    pointer-events: none;
    width: 250px;
}
/*  @media screen and (min-width: 400px) and (min-height: 400px){
        #tetris { font-size: 1.00em; width: 350px; }
        #menu { width: 150px; height: 300px; }
        #upcoming { width:  75px; height:  75px; }
        #canvas { width: 150px; height: 300px; }
    } 15px chunks 
    @media screen and (min-width: 500px) and (min-height: 500px)  { #tetris { font-size: 1.25em; width: 450px; } #menu { width: 200px; height: 400px; } #upcoming { width: 100px; height: 100px; } #canvas { width: 200px; height: 400px; } } 20px chunks
    @media screen and (min-width: 600px) and (min-height: 600px)  { #tetris { font-size: 1.50em; width: 550px; } #menu { width: 250px; height: 500px; } #upcoming { width: 125px; height: 125px; } #canvas { width: 250px; height: 500px; } } 25px chunks
    @media screen and (min-width: 700px) and (min-height: 700px)  { #tetris { font-size: 1.75em; width: 650px; } #menu { width: 300px; height: 600px; } #upcoming { width: 150px; height: 150px; } #canvas { width: 300px; height: 600px; } } 30px chunks
    @media screen and (min-width: 800px) and (min-height: 800px)  { #tetris { font-size: 2.00em; width: 750px; } #menu { width: 350px; height: 700px; } #upcoming { width: 175px; height: 175px; } #canvas { width: 350px; height: 700px; } } 35px chunks
    @media screen and (min-width: 900px) and (min-height: 900px)  { #tetris { font-size: 2.25em; width: 850px; } #menu { width: 400px; height: 800px; } #upcoming { width: 200px; height: 200px; } #canvas { width: 400px; height: 800px; } } 40px chunks
*/




